<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resana</title>
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="button.css">
  <script src="./script.js" async></script>
</head>

<body>

  <div class="navbar">
    <ul>
      <li><a class="font1" href="#sounds">Sounds</a></li>
      <li><a class="font1" href="#train">Train</a></li>
    </ul>
  </div>

  <div class="upload">

    <div id="ToHideWhenRec">
      <button class="button1">Upload a file</button>
      <button class="button2" onclick="record()" id="button1">Record now</button>
    </div>

    <span id="spanRec" class="showSpanRec">recording...</span>
    <div id="circle" class="showRecCircle"></div>
    <button id="stopRecButt" onclick="openModal()" class="buttonStopRec">STOP RECORDING</button>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModall()">&times;</span>
        <h1>save recorded sound</h1>
        <span style="float: left;">Name</span> <br>
        <input style="float: left;" class="searchboxModal" type="search" placeholder="2022-4-4 18_8_29"
          id="inputModalSound">
        <br> <br>
        <span style="float: left;">Class Type</span>
        <br>
        <!-- <select name="select_modal" id="select_modal" class="select_modal">
          <option value="A">Class A</option>
          <option value="B">Class B</option>
          <option value="C">Class C</option>
          <option value="D">Class D</option>
        </select> -->

        <select name="select_modal" id="select_modal" class="select_modal">
          <% for(let n=0 ; n<nameOfClasses.length ; n++ ){ %>
            <option value="<%= nameOfClasses[n] %>">
              <%= nameOfClasses[n] %>
            </option>
            <% } %>
        </select>


        <br><br>
        <button class="saveButModal button2" onclick="showMessageSave()">Save & Stop</button>
        <button class="continueButModal button1" onclick="showMessageSave()">Save & Continue</button>
      </div>
    </div>

  </div>

  <br>
  <input type="checkbox" id="checkbox" class="checkbox">
  <label class="middle" for="checkbox"> Automatically stop recording after</label>
  <input type="number" id="number" min="1" max="5">
  <label class="middle" for="number">seconds</label>

  <hr>

  <div class="bottomLeft">

    <h2 style="display:inline;">Class Types</h2>
    <button class="button1 button3" onclick="openModal1()">Add Class</button><br>

    <div id="myModal1" class="modal">

      <div class="modal-content">
        <span class="close" onclick="closeModall1()">&times;</span>
        <h1>Class</h1>
        <span style="float: left;">Name</span> <br>
        <input style="float: left;" class="searchboxModal" type="search" placeholder="Class A" id="inputModalAddClass">
        <br> <br>
        <button class="saveButModal button2" onclick="showMessageSave1()">Save</button>
        <button class="continueButModal button1" onclick="dismissOperation()">Dismiss</button>
      </div>

    </div>

    <input type="checkbox" id="checkbox1" class="checkboxx">
    <label class="bottom" style="font-weight:bold; display:inline;" for="checkbox1">All</label>
    <input class="searchbox" type="search" placeholder="search text">
    <br>
    <input type="checkbox" id="checkbox2" class="checkboxx">
    <label class="bottom" style="font-weight:bold;" for="checkbox1">jiojijoi</label>
    <br><br>

    <div id="ToaddFromAjax">
      <% for(let n=0 ; n<nameOfClasses.length ; n++ ){ %>

        <input type="checkbox" id="checkbox2" class="checkboxx" value="<%= nameOfClasses[n] %>">
        <label class="bottom" style="font-weight:bold;" for="checkbox1">
          <%= nameOfClasses[n] %>
        </label>
        <br><br>

        <% } %>
    </div>
  </div>


  <div class="title-bar widthTitleBar">
    <div class="title" style="margin-left: 8px; margin-right: 30px;">Name</div>
    <div class="title">Class Type</div>
    <div class="title">Date</div>
    <div class="title" style="margin-left: 24.3%;">More</div>

  </div>

  <div id="NewrowBottomRight"></div>




</body>

</html>